.image-wrap {
  position: relative;
  overflow: hidden;
}

.image-div {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.image-wrap > div.active {
  transform: translateX(-100%);
}

.image-wrap > div.previous {
  transform: translateX(-200%);
}
